.headerCard {
  display: flex;
  gap: 1rem;
}
.headerCard__icon {
  background: rgb(198, 198, 198);
  /* background: rgba(0, 128, 0, 0.5); */
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerCard__content {
  text-align: center;
}
.headerCard__content > p:first-child {
  font-weight: 700;
  color: #6b7079;
  font-size: 1.1rem;
}
.headerCard__content > p:last-child {
  font-weight: 700;
  color: #6b7079;
  font-size: 1.5rem;
}
